.alert_wrapper{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(20,20,20,0.8);
	display:none;
	z-index:300;
}

.alert_box_full{
	width:100%;
	height:90%;
	overflow-y:scroll;
	background-color:#fff;
	left:0;
	top:10%;
	position:absolute;
	color:#333;
	padding:20px;
	padding-top:10px;
	box-shadow:3px 3px 3px 3px rgba(10,10,10,0.7);
	z-index:500;
}

.alert_box_confirm_icon{
	text-align:center;
	color:white;
	margin: auto;
	border-radius:50%;
	background-color:#f63e21;
	border:none;
	position:relative;
	width:40px;
	height:40px;
	bottom:-20px;
	font-size:30px;
}

.alert_box_confirm_wrapper{
	top:5%;
	width:30%;
	min-width:300px;
	margin: auto;
	text-align:center;
	border-radius:5px;
	position:relative;
}

.alert_box_confirm{
	border-top:4px solid #f63e21;
	width:100%;
	background-color:white;
	border-radius:5px;
	padding:10px;
	box-shadow:5px 5px 5px 5px rgba(50,50,50,0.5);
	color:#111216;
}

.alert_box_confirm h3{
	font-weight:bold;
}

.alert_full_close_button{
	position:absolute;
	top:0;
	right:0;
	color:black;
	font-size:48px;
	z-index:5;
}

.alert_snackbar{
	display:none;
	min-width: 250px;
	margin-left: -125px;
	background-color: #fff;
	color: #333;
	text-align: center;
	border-radius: 10px;
	padding: 16px;
	position: fixed;
	z-index: 300;
	left:10%;
	bottom: 20px;
	box-shadow:2px 2px 1px 1px rgba(20,20,20,0.8);
}

.alert_box_slide{
	position:fixed;
	top:0;
	height:100%;
	width:80%;
	background-color:white;
	box-shadow: 2px 3px 6px #0000001A;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	right:0;
	display:none;
	z-index:0;
	padding:30px;
	overflow-y:scroll;
}

.slide_alert_close_button{
	position:fixed;
	top:0;
	right:0;
	padding:10px;
	outline:none!important;
	background-color:transparent;
	border:none!important;
	color:black;
	font-size:48px;
	z-index:5;
}

.notificationText{
	padding:2px 10px;
	width:100%;
	display:none;
	margin-bottom:20px;
}

.notificationText.warning{
	background-color:#ffc107;
	color:#333;
}

.notificationText.danger{
	background-color:#f63e21;
	color:white;
}

.notificationText.success{
	background-color:#00d478;
	color:white;
}