.input_group{
	display: flex;
	width:100%;
}

.input_group > input{
	flex: 1;
	border:1px solid #ccc;
}

.input_group_append{
	margin-top:0px;
	margin-left:-1px;
	margin-bottom:0;
	height:auto;
}

.input_group_append > button{
	border-radius:0;
	height:100%;
}

.form-control-text-custom{
	border:2px solid #E19B3C!important;
	font: Light 12px/16px Avenir;
	padding:7px;
	color:#000000;
	text-align:left;
	width:100%;
}

.form-control-select-custom{
	border:2px solid #E19B3C!important;
	background-color:#E19B3C!important;
	width:100%;
	padding:7px;
	color:#FFFFFF;
	outline:none!important;
	border:none;
	font: Light 12px/16px Avenir;
}

label.error{
	color:#f63e21!important;
}

.form-control.error{
	background-color:rgba(242, 62, 33, 0.2);
}