@font-face {
  font-family: Bebasneue;
  src: url(../third_party/font/BebasNeue.woff);
}

@font-face {
  font-family: museo;
  src: url(../third_party/font/museo300-regular.otf);
}

html, body{
	height:100%;
	background-color:#3b404b;
	min-width:600px;
}

.topnav_bar{
	width:100%;
	position:fixed;
	background-color:#E19B3C;
	height:70px;
	margin-left:0px;
	padding:8px;
	padding-left:220px;
	z-index:100;
}

.topnav_bar h3{
	font-family:museo;
	color:white;
}

.sidenav_bar_functions{
	padding:5px;
	padding-top:10px;
	position:fixed;
	left:50px;
	background-color:#3b404b;
	width:150px;
	height:100%;
}

.sidenav_bar_departments{
	padding:5px;
	padding-top:10px;
	position:fixed;
	width:50px;
	left:0;
	background-color:transparent;
	height:100%;
}

.button_departments{
	width:100%;
	outline:none!important;
	border:none;
	background-color:transparent;
	transition:0.3s all ease;
}

.sidenav_bar{
	background-color:#2b2f38;
	position:fixed;
	width:200px;
	top:0;
	left:0;
	height:100%;
	color:#ddd;
	padding:5px;
	z-index:100;
	box-shadow:1px 1px 1px 1px rgba(47, 51, 60, 0.8);
}

.sidenav_bar a{
	text-decoration:none;
	padding:0;
}

.sidenav_bar a button{
	width:100%;
	outline:none!important;
	border:none;
	background-color:transparent;
	text-align:left;
	color:#ddd;
}

.button_close_sidenav{
	color:white;
	outline:none!important;
	background-color:transparent;
	border:none;
	width:25%;
}

.button_close_sidenav:hover > .bar{
	background-color:#E19B3C;
}

.bar{
	width: 80%;
	height:5px;
	background-color:white;
	margin: 6px 0;
	transition: 0.4s;
}

.container_button {
	width: 100%;
	outline: none !important;
	border: none;
	background-color: transparent;
	text-align: left;
	transition: 0.3s all ease;
}

.container_button p{
	font-family:museo;
	display:inline-block;
}

.container_button i{
	float:right;
}

.container_bar{
	width:100%;
	padding:5px;
	padding-left:20px;
	padding-top:0px;
	display:none;
}

.container_bar a{
	color:#ddd;
	text-decoration:none;
	font-size:1em!important;
	font-family:museo;
}

.active{
	border-left:5px solid white;
	transition:0.3s all ease;
}

.dashboard{
	margin-left:200px;
	padding-top:70px;
	color:#424242;
	height:100%;
	z-index:-10;
}

.dashboard_head{
	width:100%;
	background-color:#2b2f38;
	padding:10px;
	z-index:0;
	color:white;
}

.dashboard_head a{
	color:white;
}

.dashboard_in{
	padding:30px;
	background-color:white;
	box-shadow:3px 3px 3px 3px rgba(70,70,70,0.3);
	border-radius:10px;
	outline:none;
	border:none;
	z-index:0;
	width:95%;
	margin-left:2.5%;
}

.dashboard_side{
	padding:30px;
	background-color:white;
	box-shadow:3px 3px 3px 3px rgba(70,70,70,0.3);
	position:fixed;
	right:0;
	outline:none;
	border:none;
	z-index:5;
}

.form-control{
	border-radius:0;
}

.form_control{
	border:2px solid white;
	background-color:transparent;
	outline:none!important;
	width:100%;
	padding:5px;
	color:white;
}

.information_box{
	width:100%;
	background-color:#eee;
	cursor: not-allowed;
	height:150px;
	padding:10px;
	overflow-y:scroll;
}

.filter_form_wrapper{
	position:absolute;
	display:none;
	background-color:transparent;
}

.filter_form{
	position:relative;
	width:300px;
	background-color:white;
	padding:10px;
	box-shadow:3px 3px 3px 3px rgba(120, 120, 120, 0.2);
	overflow-y:scroll;
	max-height:400px;
}

.clickable{
	cursor:pointer;
}
